{% extends 'dashBoard/layout.html' %}
{% load static %}
{% block body %}

  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>About Us</h2>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{% static 'dashBoard/assets/img/about.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <p class="font-italic">
              Fundraising for medical treatment is largely online in India and for patients with late stage disease with very visible symptoms. Some platforms are working on online fundraisers for only children, but again late stage disease. The number of cases accepted is only one out of ten if not one out of twenty. This leaves a large majority of patients with no option than to give up treatment or fend for themselves. There are no funding, financial access options available for this large majority of patients that get rejected by online platforms. We are hoping to build a corpus to help these patients with funding options to help them get treated. We  envisage a healthcare landscape where finances for treatment are available to one and all irrespective of strategies, privileges, inequalities.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->


        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="testimonials">
          <div class="container" data-aos="fade-up">
    
            <div class="section-title">
              <h2>Testimonials</h2>
              <p>What are they saying</p>
            </div>
    
            <div class="owl-carousel testimonials-carousel" data-aos="zoom-in" data-aos-delay="100">
    
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <h3>Pandit Salikram</h3>
                  <p>
                    <div class="embed-responsive embed-responsive-21by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wtQM8F7FaWg" allowfullscreen></iframe>
                    </div>
                  </p>
                </div>
              </div>
    
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <h3>Nirmal</h3>
        
                  <p>
                    <div class="embed-responsive embed-responsive-21by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/0UJAtXnFZIE" allowfullscreen></iframe>
                    </div>
                  </p>
                </div>
              </div>
    
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <h3>Devendra</h3>
                 
                  <p>
                    <div class="embed-responsive embed-responsive-21by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CMeXzi_-gbQ" allowfullscreen></iframe>
                    </div>
                  </p>
                </div>
              </div>
    
            </div>
    
          </div>
        </section><!-- End Testimonials Section -->
      </main><!-- End #main -->

  </main><!-- End #main -->

  {% endblock %}