{% extends 'dashBoard/layout.html' %}
{% block body %}
    <section>

      <div class="container" style="margin-top: 3%;">
        <form action= "{% url 'consent' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-row">
            <div class="form-group col-md-6">
              <div class="custom-file">
                <input type="file" name="main_pic" class="custom-file-input" id="customFile" required>
                <label class="custom-file-label" for="customFile">Upload picture to be displayed on front page</label>
              </div>
            </div>
            <div class="form-group col-md-6">
              <div class="custom-file">
                <input type="file" name="other_pics" class="custom-file-input" id="customFile" multiple>
                <label class="custom-file-label" for="customFile">Upload other pictures (recommended: )</label>
              </div>
            </div>
          
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <div class="custom-file">
                <input type="file" name="medical_report" class="custom-file-input" id="customFile" multiple required>
                <label class="custom-file-label" for="customFile">Upload medical report picture</label>
              </div>
            </div>
            <div class="form-group col-md-6">
              <div class="custom-file">
                <input type="file" name="operation_bill" class="custom-file-input" id="customFile" multiple required>
                <label class="custom-file-label" for="customFile">Upload picture of operation bill</label>
              </div>
            </div>
          
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="otp">Enter OTP</label>
              <input type="text" name="otp" class="form-control" id="otp" placeholder="Check OTP on the given number">
              {% if otp_error %}<p style="color: red;">{{ otp_error }}</p>{% endif %}
            </div>
          </div>
      </div>
    </section>
  <section>
    <div class="container" style="margin-top: -7%;">
        <div class="section-title">
            <p><br>Consent Form</p>
        </div>
        <p>
          I,<input type="text" value="{{ name }}" disabled>(Patient/legal guardian / parent of Patient/ Spouse/Family) hereby authorize <input for="hospitalName" type="text" value="{{ hospital_name }}" disabled> (Hospital Name) and CanceRX, unit of ihealthkonnect India Pvt Ltd to host a fundraising campaign for <input for="patientName" value="{{ patient_name }}" type="text" disabled>	(Patient name) with Hospital ID, AAdhar card, Govt ID no, <input type="text" value="{{ aadhar }} " for="idNo" disabled>who has to undergo treatment for  <input for="medicalTreatment" value="{{ medical_treatment }}" type="text" disabled>(Medicaltreatment).
        The term Designated Hospital implies hospital which would provide the estimate for the treatment for the camplaign.
        <br>
        <ul>
          <li>
            I fully understand that CanceRX may not provide the full amount required for the treatment and I  agree to pay any (balance) dues to the  designated hospital and pharmacy bills regularly as per the requirement of the Hospital & Pharmacy. The liability of CanceRX shall be limited to the amounts of funds raised and in no case shall it extend to the total amount of hospital billing.<br>
          </li>
          <li>
            I have been informed that in case I or the designated Hospital wishes to stop this campaign at any time, it can be done by contacting the assigned campaign manager or PoC (Point of Contact) and that the campaign will be stopped within 24 hours of receipt of the written request.
        
          </li>
          <li>
            I also authorize CanceRX to make efforts for increasing outreach of the campaign on various digital media.<br>
          </li>
        </ul>
        In this regard, I further undertake the following:
        <ol>
          <li>
            I agree to provide authentic and credible information regarding the prescribed treatment and my financial standing. I take full responsibility for the information provided. (An estimate of the expenses, for the above treatment, on the letterhead of the designated hospital enclosed)
        
          </li>
          <li>
            I allow the designated Hospital and CanceRX to use photographs, documents, and other information in regards to the campaign, in its outreach efforts. Such information may be published in the public domain by the Hospital and CanceRXat itsdiscretion.
        
          </li>
          <li>
            I shall not use the estimation letter for crowdfunding on any other platform/agency when this campaign is going on. If found so, I agree that Hospital and CanceRX can stop the fundraiser, on its platform, at its discretion and refund the donors if they choose to do so.
        
          </li>
          <li>
            I give permission to CanceRX to run my campaign/fundraiser/story across all offline and online marketing mediums available and across all geographies, to help me raisefunds.
        
          </li>
          <li>
            I agree that CanceRX will transfer funds only to the designated Hospital from the Date of Admission of the Patient; such funds will be transferred to the Hospital’s bank account. I also confirm my understanding that proceeds from this fundraising campaign cannot be used to settle bills for any other hospital.
        
          </li>
          <li>
            I understand and agree that if excess funds are raised on my fundraiser, CanceRX can use the discretion to utilize these funds towards other needy patients. 
        
          </li>
          <li>I also understand that the funds raised for the treatment cannot be reimbursed to me in cash under any circumstances as per the policies of CanceRX.
          </li>
          <li>
            I understand and agree that CanceRX will make all efforts are on increasing outreach of the campaign to help raise funds, its efforts are not a guarantee to raise funds.
          </li>
          <li>I understand and concede that the details of the donors and the costs incurred while promoting and executing the fundraiser will not be shared with me or to any other entity or individual outside of CanceRX.
          </li>
          <li>I will willingly give my full co-operation to CanceRX to share the details of the patient, (his/her story, with old/new photos and video footage, to share the potential success of my fundraiser) on all online and offline marketing channels. I understand that this will only maximize the success of myfundraiser.
          </li>
        </ol>
        <bold>This consent is given without expiration, and future uses do not require additional permission. The below signed individual hereby consents to and permits the above.</bold>
        </p>
        <button type="submit" class="btn btn-primary">Submit</button>
        {% if database_error %}<p style="color: red;">{{ database_error }}</p>{% endif %}
    </div>
  </form>


        
  </section>
{% endblock %}