{% extends 'dashBoard/layout.html' %}
{% block body %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs" data-aos="fade-in">
  <div class="container">
    <h2>{{ fundraiser.campaign_name }}</h2>
  </div>
</div><!-- End Breadcrumbs -->

<!-- ======= Cource Details Section ======= -->
<section id="course-details" class="course-details">
  <div class="container" data-aos="fade-up">

    <div class="row">
      <div class="col-lg-8">
        <img src="{{ fundraiser.campaign_photo.url }}" class="img-fluid" alt="">
        <h3>{{ fundraiser.campaign_name }}</h3>
        <p>Treatment needed for {{ fundraiser.medical_treatment }}</p>
        <p>{{ fundraiser.campaign_description }}</p>
        <p>
          <h4>Top Donors:</h4>
          <ol>
            {% for donor in top_donors %}
            <li>{{ donor.name }} donated Rs. {{ donor.amount }}</li>
            {% endfor %}
          </ol>
        </p>
      </div>
      <div class="col-lg-4">

        <div class="course-info d-flex justify-content-between align-items-center">
          <h5>Fundraiser for</h5>
          <p><a href="#">{{ fundraiser.patient_name }}</a></p>
        </div>

        <div class="course-info d-flex justify-content-between align-items-center">
          <h5>Amount to be raised</h5>
          <p>Rs. {{ fundraiser.amount_needed }}</p>
        </div>
        <div class="course-info d-flex justify-content-between align-items-center">
          <h5>Amount raised</h5>
          <p>Rs. {{ fundraiser.amount_raised }}</p>
        </div>
        <div class="course-info d-flex justify-content-between align-items-center">
          <h5>No of people donated</h5>
          <p>{{ donations }}</p>
        </div>

        <div class="course-info d-flex justify-content-between align-items-center">
          <h5>Time left</h5>
          <p></p>
        </div>

        <div class="d-grid gap-2 d-md-block">
          <a href = "#payment" class="btn btn-primary" role="button">Donate Now</a>
          <a href = "https://www.facebook.com/sharer.php?u={{ request.build_absolute_uri }}" role="button"><ion-icon class="share_links" name="logo-facebook"></ion-icon></a>
          <a href="https://api.whatsapp.com/send?text={{ share_string }} {{ request.build_absolute_uri }}"><ion-icon class="share_links" name="logo-whatsapp"></ion-icon></a>
          <a href="https://www.linkedin.com/shareArticle?url={{ request.build_absolute_uri }}&title={{ share_string }}"><ion-icon class="share_links" name="logo-linkedin"></ion-icon></a>
          <a href="https://twitter.com/share?url={{ request.build_absolute_uri }}&text={{ share_string }}&via=&hashtags="><ion-icon class="share_links" name="logo-twitter"></ion-icon></a>
        </div>

        
    </div>

  </div>
</section><!-- End Cource Details Section -->
    <section>
      <div class="container align-items-center">
        <iframe width="420" height="315"
        src="{{ fundraiser.video_url }}">
        </iframe> 
      </div>
    </section>
    <section>
      <!-- Gallery -->
      <div class="container">
        <div class="img-slideshow-container">
          {% for photo in photos %}
          <div class="mySlides slide_fade">
            <img src="{{ photo.photo.url }}" style="width:100%">
          </div>
          {% endfor %}
          
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>
          
          </div>
          <br>

          <div style="text-align:center">
            {% for i in number %}
            <span class="dot" onclick="currentSlide({{ i }})"></span> 
            {% endfor %}
          </div>

      </div>
      <!-- Gallery -->
    </section>
    <div id="payment" class="container py-5">
      <!-- For demo purpose -->
      <div class="row">
          <div class="col-lg-6 mx-auto">
              <div class="card ">
                  <div class="card-header">
                      <div class="bg-white shadow-sm pt-4 pl-2 pr-2 pb-2">
                          <!-- Credit card form tabs -->
                          <ul role="tablist" class="nav bg-light nav-pills rounded nav-fill mb-3">
                            
                          </ul>
                      </div> <!-- End -->
                      {% if donor %}
                      <div class="tab-content">
                        <!-- credit card info-->
                        <div id="credit-card" class="tab-pane fade show active pt-3">
                            <form role="form" name="mediangel_pay" onclick="checkMedi()" method="POST" action="{% url 'create_checkout_medisession' %}">
                            {% csrf_token %}
                                <input type="text" style="display: none;" value="{{ fundraiser.id }}" name="fundraiser"/>
                                   <div class="form-group"> <label for="phone">
                                    <h6>Phone number</h6>
                                  </label> <input type="text" name="phone" id="medi_phone" placeholder="Confirm phone number" required class="form-control ">
                                 </div>
                                  <div class="form-row"> <label for="amount_paying">
                                    <h6>Amount: </h6>
                                </label> 
                                <div class="form-group col-md-3">
                                  <input type="radio" name="amount_paying" value="500" required> 
                                  <label for="Rs. 500">Rs. 500</label>
                                </div>
                                <div class="form-group col-md-3">
                                  <input type="radio" name="amount_paying" value="1000">
                                  <label for="Rs. 1000">Rs. 1000</label>
                                </div>
                                <div class="form-group col-md-3">
                                  <input type="radio" name="amount_paying" value="2000">
                                <label for="Rs. 2000">Rs. 2000</label>
                                </div>
                                  </div>
                                  <div class="form-row">
                                    <div class="form-group col-md-5">
                                      <input type="radio" name="amount_paying" value="custom_amount" id="custom_amount">
                                    <label for="custom_amount">Custom amount: </label>
                                    </div>
                                    <div class="form-group col-md-7">
                                      <input type="text" name="custom_value" id="custom_value" disabled />
                                    </div>

                                </div>
                                
                                
                              </div>
                              <div class="card-footer"> <button type="button" id="checkout-button" onclick="validateMediForm()" class="subscribe btn btn-primary btn-block shadow-sm"> Confirm Payment </button>

                                </form>
                        </div>
                    </div> <!-- End -->
                      {% else %}
                      <!-- Credit card form content -->
                      <div class="tab-content">
                          <!-- credit card info-->
                          <div id="credit-card" class="tab-pane fade show active pt-3">
                              <form role="form" name="payment" onclick="check()" method="POST" action="{% url 'create_checkout_session' %}">
                              {% csrf_token %}
                                  <input type="text" style="display: none;" value="{{ fundraiser.id }}" name="fundraiser"/>
                                  <div class="form-group"> <label for="username">
                                          <h6>Name of donor</h6>
                                      </label> <input type="text" name="name" placeholder="Optional" required class="form-control ">
                                     </div>
                                     <div class="form-group"> <label for="phone">
                                      <h6>Phone number</h6>
                                    </label> <input type="text" name="phone" id="phone" placeholder="Enter valid phone number" required class="form-control ">
                                   </div>
                                   <div class="form-group"> <label for="email">
                                    <h6>Email address</h6>
                                  </label> <input type="email" name="email" placeholder="Enter valid email ID" required class="form-control" required>
                                 </div>
                                 <div class="form-row">
                                  <div class="col-md-11"> <label for="consent">
                                    CancerX will notify you about new fundraisers through your email ID: 
                                  </label></div><div class="col-md-1"><input type="checkbox" checked name="consent" required disabled>
                                 </div>
                                 </div>
                                 
                                    <div class="form-row"> <label for="amount_paying">
                                      <h6>Amount: </h6>
                                  </label> 
                                  <div class="form-group col-md-3">
                                    <input type="radio" name="amount_paying" value="500" required> 
                                    <label for="Rs. 500">Rs. 500</label>
                                  </div>
                                  <div class="form-group col-md-3">
                                    <input type="radio" name="amount_paying" value="1000">
                                    <label for="Rs. 1000">Rs. 1000</label>
                                  </div>
                                  <div class="form-group col-md-3">
                                    <input type="radio" name="amount_paying" value="2000">
                                  <label for="Rs. 2000">Rs. 2000</label>
                                  </div>
                                    </div>
                                    <div class="form-row">
                                      <div class="form-group col-md-5">
                                        <input type="radio" name="amount_paying" value="custom_amount" id="custom_amount">
                                      <label for="custom_amount">Custom amount: </label>
                                      </div>
                                      <div class="form-group col-md-7">
                                        <input type="number" name="custom_value" id="custom_value" disabled />
                                      </div>

                                  </div>
                                  
                                  
                                </div>
                                <div class="card-footer"> <button type="button" id="checkout-button" onclick="validateForm()" class="subscribe btn btn-primary btn-block shadow-sm"> Confirm Payment </button>

                                  </form>
                          </div>
                      </div> <!-- End -->
                      
                      <!-- End -->
                      {% endif %}
                  </div>
              </div>
          </div>
      </div>

  </div>
  </main><!-- End #main -->
  <script src="https://js.stripe.com/v3/"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>

  <script>
    function check(){
      var amount_value = document.payment.amount_paying.value;
      var custom_value = document.payment.custom_value;
      var checkoutButton = document.getElementById('checkout-button');
      if(amount_value === "custom_amount"){
        custom_value.disabled = false;
        custom_value.required = true;
      }
      else{
        custom_value.disabled = true;
        custom_value.required = false;
      }
    }
    function checkMedi(){
      var amount_value = document.mediangel_pay.amount_paying.value;
      var custom_value = document.mediangel_pay.custom_value;
      var checkoutButton = document.getElementById('checkout-button');
      if(amount_value === "custom_amount"){
        custom_value.disabled = false;
        custom_value.required = true;
      }
      else{
        custom_value.disabled = true;
        custom_value.required = false;
      }
    }
    function validateMediForm(){
      var phone = document.getElementById("medi_phone").value;
      var amount = document.mediangel_pay.amount_paying.value;
      var final_amount = document.mediangel_pay.custom_value;
      var custom_amount = document.mediangel_pay.custom_value.value;
      var error = false;
      if(phone != "{{ phone_number }}"){
        alert("Please enter the right phone number")
        error=true;
      }
      if(amount != ""){
        if(amount === "custom_amount"){
          if(custom_amount === ""){
            alert("Choose an amount to donate");
            error = true;
          }
        }
      }else{
        error = true;
      }
      if(error===false){
        document.mediangel_pay.submit();
      }
    }
    function validateForm(){
      var name = document.payment.name.value;
      var phone = document.getElementById("phone").value;
      var amount = document.payment.amount_paying.value;
      var final_amount = document.payment.custom_value;
      var custom_amount = document.payment.custom_value.value;
      var error = false;
      if(name != ""){
        if(!name.match(/^[a-zA-Z ]*$/)){
          alert("Enter a valid name");
          error = true;
        }
      }
      if(phone.match(/^\d{10}$/) == null){
          alert("Enter a valid phone number");
          error = true;
        }
      if(amount != ""){
        if(amount === "custom_amount"){
          if(custom_amount === ""){
            alert("Choose an amount to donate");
            error = true;
          }
        }
      }else{
        error = true;
      }
      if(error===false){
        document.payment.submit();
      }else{
        return false;
      }
    }

    var slideIndex = 1;
    showSlides(slideIndex);
    
    function plusSlides(n) {
      showSlides(slideIndex += n);
    }
    
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }
    
    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dot");
      if (n > slides.length) {slideIndex = 1}    
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";  
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active_img", "");
      }
      slides[slideIndex-1].style.display = "block";  
      dots[slideIndex-1].className += " active_img";
    }
    </script>
  <script type="text/javascript">
  /* checkoutButton.addEventListener("click", function(){
    var amount_paying = document.paying.amount_paying.value;
    if(amount_paying === 'custom_amount'){
      amount_paying = document.paying.custom_value.value;
    }
    
  })*/

  </script>
  <style>
    body {
    background: #f5f5f5
        }

        .rounded {
            border-radius: 1rem
        }

        .nav-pills .nav-link {
            color: #555
        }

        .nav-pills .nav-link.active {
            color: white
        }

        input[type="radio"] {
            margin-right: 5px
        }

        .bold {
            font-weight: bold
        }

/* Slideshow container */
.img-slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.share_links{
  font-size: 30px;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active_img, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.slide_fade {
  -webkit-animation-name: slide_fade;
  -webkit-animation-duration: 1.5s;
  animation-name: slide_fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes slide_fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes slide_fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

  </style>
  <script>
    $(function() {
$('[data-toggle="tooltip"]').tooltip()
})
  </script>

{% endblock %}