{% extends 'dashBoard/layout.html' %}
{% block body %}
<main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">
        <h2>Refund Policy</h2>
        </div>
    </div><!-- End Breadcrumbs -->
    <div class="container">
      <p>
        <br>
        Any donations made by the users/members either regularly or for a campaign are Non-refundable. <br><hr>
        In case of any unused funds in a specific patient treatment campaign, the same will be utilized for other needy patients the details of which can be provided on request. <br><hr>
        For all funds donated CanceRX Foundation will issue 80G Exemption form for availing Tax Benefits by respective donors. <br><hr>
      </p>
    </div>
    

  </main>
{% endblock %}