{% extends "dashBoard/layout.html" %}

{% load static %}
{% block body %}
  <main>
    <section style="margin-top: 2%;">
      <div class="container">
        <form action= "{% url 'start-fundraiser' %}" method="POST" name="fundraiserForm" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputName">Name</label>
              <input type="text" name="patient_name" class="form-control" id="patient_name" placeholder="Patient's name" required>
            </div>
            <div class="form-group col-md-6">
              <label for="phone">Phone Number</label>
              <input type="text" name="phone" class="form-control" id="phone" placeholder="Enter a valid 10 digit mobile number" required>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputName">Your name</label>
              <input type="text" name="name" class="form-control" id="name" placeholder="Leave blank if you are the patient">
            </div>
            <div class="form-group col-md-6">
              <label for="phone">Relation to patient</label>
              <input type="text" name="rel_to_patient" class="form-control" id="rel_to_patient" placeholder="Leave blank if you are the patient">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputName">Email</label>
              <input type="email" name="email" class="form-control" id="email" placeholder="Email(optional: )">
            </div>
            <div class="form-group col-md-6">
              <label for="phone">Aadhar Card Number</label>
              <input type="text" name="aadhar" class="form-control" id="aadhar" placeholder="Aadhar card number" required>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputName">Amount needed (min Rs.2000)</label>
              <input type="number" min="2000" name="amount_needed" class="form-control" id="amount_needed" placeholder="In rupees" required>
            </div>
            <div class="form-group col-md-6">
              <label for="phone">URL of campaign video</label>
              <input type="url" name="video_url" class="form-control" id="video_url" placeholder="Should be a YouTube video" required>
            </div>
          </div>
          <div class="form-row">
            <label for="inputName">Name of medical treatment</label>
            <input type="text" name="medical_treatment" class="form-control" id="medical_treatment" placeholder="Medical treatment" required>
          </div>
          <div class="form-row">
            <label for="inputName">Name hospital where patient is admitted</label>
            <input type="text" name="hospital_name" class="form-control" id="hospital_name" placeholder="Hospital Name: " required>
          </div>
          <div class="form-row">
              <label for="inputName">Campaign name</label>
              <input type="text" name="campaign_name" class="form-control" id="campaign_name" placeholder="Campaign name" required>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="description">Description</label>
              <textarea name="description" class="form-control" id="description" rows="3" r></textarea>
            </div>
          </div>
          
          <div class="form-group">
          </div>
          <button type="submit" class="btn btn-primary" onclick="validateForm()">Proceed to consent form</button>
          <p class="text-muted">* An OTP will be sent to your phone number</p>
        </form>
      </div>
    </section>
    
    
  </main>
  <script>
    function getId(url) {
        const regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|&v=)([^#&?]*).*/;
        const match = url.match(regExp);

        return (match && match[2].length === 11)
          ? match[2]
          : null;
      }
      function validateForm(){
        var name = document.fundraiserForm.patient_name.value;
        var phone = document.getElementById('phone').value;
        console.log(phone);
        var aadhar = document.fundraiserForm.aadhar.value;
        var video_url = document.fundraiserForm.video_url.value;
        var videoId = getId(video_url)
        var video_url = "//www.youtube.com/embed/" + videoId;
        var error = false;
        var regex = /^[a-zA-Z ]*$/i;
        if(!name.match(/^[a-zA-Z ]*$/)){
          alert("Enter a valid name");
          error = true;
        }
        var regex=/^\d{10}$/;
        if(phone.match(/^\d{10}$/) == null){
          alert("Enter a valid phone number");
          error = true;
        }
        var regex=/^\d{12}$/;
        if(aadhar.match(/^\d{12}$/) == null){
          alert("Enter a valid aadhar card number")
          error = true;
        }
        if(error){
          return false;
        }else{
          document.fundraiserForm.submit();
        }

      }
  </script>
{% endblock %}