{% extends 'dashBoard/layout.html' %}
{% block body %}
<main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">
        <h2>Terms and Conditions</h2>
        <p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium. </p>
      </div>
    </div><!-- End Breadcrumbs -->
    <div class="container">
      <p>
        <h4>CanceRX Foundation authorises the use of this site subject to the following of the Terms and conditions:</h4>
        <ul>
          <li>The use of this site by anyone automatically provides their acceptance of the Terms and Conditions from the date of 1st use.</li><br>
          <li>By accessing the site you guarantee the same will be used lawfully which does not harm/limit/restrict the rights of any 3rd party.</li><br>
          <li>CanceRX Foundation reserves the rights to change/delete/revise Terms and Conditions at any time online. Your accessing the same post change also confirms yours acceptance of the new/modified Terms and Conditions. Please review the same from time to time</li><br>
          <li>All IP on the website and the material or information it incorporates including without limitation copyright, designs, database rights and trademarks (registered or unregistered) are and shall remain the property of CanceRX  Foundation or its third party licensors.</li><br>
          <li>CanceRX prohibits Commercial use or publication of everything displayed/published on their website. Our terms and conditions donot permit the same under any cost and insists on taking formal permission</li><br>
          <li>CanceRX Foundation does not allow any information put in the website to be copied either for personal/commercial use.  All rights are reserved on the same and prior permission to copy them must be requested. </li><br>
          <li>Any communication or material that might be shared on the website or any public domain of for e.g. including any data, questions, comments, suggestions, or the like, is and will NOT be treated confidential or proprietary information. CanceRX Foundation reserves the right to remove any such communication or material from the website at its own discretion as they deem fit.</li><br>
          <li>If there is any conflict between these Terms and Conditions and rules and/or specific terms of use appearing on the Website relating to specific material then the latter shall prevail.</li><br>
          <li>All Terms and Conditions shall be in accordance with the laws of India. Any disputes shall be subject to the jurisdiction of the Indian Courts.</li><br>
          <li>Acceptance of Terms and Conditions are a pre-requisite for the use of the website.</li><br>
          <li>All users visiting the website also irrevocably provide  their consent of our 'Terms and Conditions' on their part.</li><br>
          <li>Accepting 'Terms and Conditions' also implies acceptance of our Disclaimer and Privacy Policy</li><br>
        </ul><br>
        email: <a>info@cancerxfoundation.com</a>
      </p>
    </div>
    

  </main>
{% endblock %}