<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs" data-aos="fade-in">
    <div class="container">
      <h2>{{ fundraiser.campaign_name }}</h2>
    </div>
  </div><!-- End Breadcrumbs -->

  <!-- ======= Cource Details Section ======= -->
  <section id="course-details" class="course-details">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-8">
          <img src="{{ fundraiser.campaign_photo.url }}" class="img-fluid" alt="">
          <h3>{{ fundraiser.campaign_name }}</h3>
          <p>Treatment needed for {{ fundraiser.medical_treatment }}</p>
          <p>{{ fundraiser.campaign_description }}</p>
          <p>
            <h4>Top Donors:</h4>
            <ol>
              <li>Person A</li>
              <li>Person B</li>
              <li>Person C</li>
            </ol>
          </p>
        </div>
        <div class="col-lg-4">

          <div class="course-info d-flex justify-content-between align-items-center">
            <h5>Fundraiser for</h5>
            <p><a href="#">{{ fundraiser.patient_name }}</a></p>
          </div>

          <div class="course-info d-flex justify-content-between align-items-center">
            <h5>Amount to be raised</h5>
            <p>Rs. {{ fundraiser.amount_needed }}</p>
          </div>

          <div class="course-info d-flex justify-content-between align-items-center">
            <h5>No of people donated</h5>
            <p>30</p>
          </div>

          <div class="course-info d-flex justify-content-between align-items-center">
            <h5>Time left</h5>
            <p></p>
          </div>

          <div class="d-grid gap-2 d-md-block">
            <a href = "#payment" class="btn btn-primary" role="button">Donate Now</a>
            <a href = "index.html" class="btn btn-primary" role="button">Share</a>
          </div>

          
      </div>

    </div>
  </section>